<div class="row my-4" id="dashboard">
    <div class="col-lg-4 col-12 mb-3">
        <div class="card hover-transform">
            <a>
                <div class="card-body text-center">
                    <h2 class="lead text-info">
                        <i class="fas fa-tint"></i> Água
                    </h2>
                    <p class="pokemons-number info-color">27</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-12 mb-3">
        <div class="card hover-transform">
            <a>
                <div class="card-body text-center">
                    <h2 class="lead text-danger">
                        <i class="fas fa-fire"></i> Fogo
                    </h2>
                    <p class="pokemons-number danger-color">35</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-12 mb-3">
        <div class="card hover-transform">
            <a>
                <div class="card-body text-center">
                    <h2 class="lead text-success">
                        <i class="fas fa-leaf"></i> Grama
                    </h2>
                    <p class="pokemons-number success-color">35</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-12 mb-3">
        <a>
            <div class="card hover-transform">
                <div class="card-body text-center">
                    <h2 class="lead grey-text">
                        <i class="fab fa-firefox"></i> Pedra
                    </h2>
                    <p class="pokemons-number grey-color">35</p>
                </div>
            </div>
        </a>
    </div>
</div>